html,
body,
main {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #34495e;
  color: #fdfdfd;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 12rem;
}

h1 {
  position: relative;
  font-family: 'Luckiest Guy', cursive;
  font-size: 3rem;
  color: #27ae60;
  letter-spacing: 1px;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.btn-outline-secondary {
  color: #27ae60;
  border-color: #27ae60;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.btn-outline-secondary:hover {
  background-color: #27ae60;
  color: #34495e;
}

/*============-============-============-============
                      MEDIA QUERIES
==============-============-============-==========*/

@media (min-width: 576px) {
  h1 {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }
}

@media (min-width: 840px) {
  h1 {
    font-size: 5.2rem;
  }
}

@media (min-width: 992px) {
  main {
    padding-top: 15rem;
  }
}