/*============-============-============-============
                       VARIABLES
==============-============-============-==========*/

:root {
    --color-primary: #323639;
    --color-secondary: rgba(44, 62, 80, 0.95);
    --color-cube-face: rgba(245, 241, 241, 0.95);

    --size-cube: 80px;

    /*Rotate cube 3 times and end animation with a slight tilt */
    --cube-deg-0: calc(360deg * 2 + 4deg);
    --cube-deg-90: calc(360deg * 2 + 94deg);
    --cube-deg-180: calc(360deg * 2 + 184deg);
    --cube-deg-270: calc(360deg * 2 + 274deg);
}

/*============-============-============-============
                     GLOBAL STYLES
==============-============-============-==========*/

body {
    color: var(--color-primary);
    background-color: #fafafa;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-image: url('../img/craps-table.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

h2 {
    text-align: center;
    font-size: 1.4rem;
}

button:focus {
    outline: none;
}

table th,
table td {
    text-align: center;
    width: 200px;
}

.player-message {
    font-size: 1.6rem;
}

/*============-============-============-============
                         CUBES
==============-============-============-==========*/

.cube-container {
    perspective: 800px;
    background-color: transparent;
  }
  
.cube-container + .cube-container {
    margin-left: 5rem;
}
  
.cube {
    width: var(--size-cube);
    height: var(--size-cube);
    transform-style: preserve-3d;
    transform: translateZ(-100px) rotateX( 4deg) rotateY( 2deg);
}

.cube .side {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 1px solid var(--color-secondary);
    border-radius: 1px;
    font-size: 2rem;
    background: var(--color-cube-face);
}

.cube .one { transform: rotateY(  0deg) translateZ(calc(var(--size-cube) / 2)); }
.cube .two { transform: rotateX(-90deg) translateZ(calc(var(--size-cube) / 2)); }
.cube .three { transform: rotateY( 90deg) translateZ(calc(var(--size-cube) / 2)); }
.cube .four { transform: rotateY(-90deg) translateZ(calc(var(--size-cube) / 2)); }
.cube .five { transform: rotateX( 90deg) translateZ(calc(var(--size-cube) / 2)); }
.cube .six { transform: rotateY(180deg) translateZ(calc(var(--size-cube) / 2)); }

.roll-one {
    animation: rollOne 2s ease-out forwards;
}

.roll-two {
    animation: rollTwo 2s ease-out forwards;  
}

.roll-three {
    animation: rollThree 2s ease-out forwards;  
}

.roll-four {
    animation: rollFour 2s ease-out forwards;  
}

.roll-five {
    animation: rollFive 2s ease-out forwards;  
}

.roll-six {
    animation: rollSix 2s ease-out forwards;  
}

/*
Map for ending animation on a particular cube face
rotateX, rotateY
1 = 0, 0
2 = 90, 0
3 = 0, 270
4 = 0, 90
5 = 270, 0
6 = 0, 180
*/

@keyframes rollOne {
    0% {
      transform: translateZ(-100px) rotateX( 2deg) rotateY( 2deg);
    }
    100% {
      transform: translateZ(-100px) rotateX(var(--cube-deg-0)) rotateY(var(--cube-deg-0));
    }
}
  
@keyframes rollTwo {
    0% {
      transform: translateZ(-100px) rotateX( 2deg) rotateY( 2deg);
    }
    100% {
      transform: translateZ(-100px) rotateX(var(--cube-deg-90)) rotateY(var(--cube-deg-0));
    }
}
  
@keyframes rollThree {
    0% {
      transform: translateZ(-100px) rotateX( 2deg) rotateY( 2deg);
    }
    100% {
      transform: translateZ(-100px) rotateX(var(--cube-deg-0)) rotateY(var(--cube-deg-270));
    }
}
  
@keyframes rollFour {
    0% {
      transform: translateZ(-100px) rotateX( 2deg) rotateY( 2deg);
    }
    100% {
      transform: translateZ(-100px) rotateX(var(--cube-deg-0)) rotateY(var(--cube-deg-90));
    }
}
  
@keyframes rollFive {
    0% {
      transform: translateZ(-100px) rotateX( 2deg) rotateY( 2deg);
    }
    100% {
      transform: translateZ(-100px) rotateX(var(--cube-deg-270)) rotateY(var(--cube-deg-0));
    }
}
  
@keyframes rollSix {
    0% {
      transform: translateZ(-100px) rotateX( 2deg) rotateY( 2deg);
    }
    100% {
      transform: translateZ(-100px) rotateX(var(--cube-deg-0)) rotateY(var(--cube-deg-180));
    }
}

/*============-============-============-============
                        BUTTONS
==============-============-============-==========*/

.btn-roll,
.btn-cash-out {
    width: 130px;
    height: 50px;
    border-radius: 4px;
    font-size: 1.4rem;
    outline: none;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.btn-roll:hover {
    background-color: rgba(50,50,50,0.2);
}

.container-above-table {
    position: relative;
}

.btn-cash-out {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 42px;
    font-size: 1.2rem;
    background-color: yellow;
    border: 1px solid #333;
    transition: .3s ease-in-out;
}

.btn-cash-out:hover {
    background-color: gold;
}